<!--CABEÇALHO-->
<%- include('partials/header.ejs'); %>

<body>
    <!--NavBar-->
    <%- include('partials/navbar.ejs'); %>
    <div class="container" id="content">
        <div class="card">
            <div class="card-header">
                <h3>Cadastrar-se</h3>
            </div>
           
            <div class="card-body">
                <hr>
                <form action="/saveRegistration" method="POST" >
                    <label>Email</label>
                    <input name="email" id="email" type="email" placeholder="Digite seu email" class="form-control" required/></br>
                    <label>Nome</label>
                    <input name="nome" id="nome" type="text" placeholder="Digite seu nome" class="form-control" required/></br>   
                    <div class="box">         
                        <input name="telefone" id="telefone" type="text" placeholder="Digite seu Telefone" class="form-control" maxlength="11" required/></br>
                        <input name="cpf" id="cpf" type="text" placeholder="Digite seu CPF" class="form-control" autocomplete="off" maxlength="11" required/></br>
                    </div></br>
                    <label >Departamento</label><br>
                        <select name="departamento" id="select" class="form-control">
                        <option id="departamento" hidden >Selecione um departamento</option>
                            <% departamentos.forEach(departamento =>{%>
                                <option value=<%= count++ %>><%= departamento.nome %></option>
                            <% }); %> 
                        </select></br>

                    <button id="cadastrar" type="submit" class="btn btn-primary"  >Cadastrar</button>
                    <a href="/" class="btn btn-primary" >Voltar</a>      
                </form>         
            </div>
        </div>
    </div>

   
</body>
<!--RODAPÉ-->
<script src="/bootstrap-4.5.2-dist/js/validation.js"></script>
<%- include('partials/footer.ejs'); %> 